.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #b6d0d4;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.photo-2025-02-13-20-19-19-1 {
  border-radius: 32px;
  height: 70%;
  position: absolute;
  left: 45%; 
  top: 150px;
  object-fit: cover;
  aspect-ratio: 566/1006;
}
.photo-2025-02-13-20-19-19-1:hover {
height: 80%;
}
.hi-mein-name-ist-fabian {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 10%;
  top: 30px;
  width: 1154px;
  height: 96px;
}
.besuche-meine-website-hier {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 10%;
  top: 422px;
  width: 394px;
  height: 149px;
}
@media only screen and (min-width: 768px){
  .frame-1 {
    background: #b6d0d4;
    height: 667px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
    overflow: hidden;
  }
  .photo-2025-02-13-20-19-19-1 {
    border-radius: 32px;
    width: 169px;
    height: 300px;
    position: absolute;
    left: 191px;
    top: 610px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
    object-fit: cover;
    aspect-ratio: 169/300;
  }
  .hi-mein-name-ist-fabian {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    left: 15px;
    top: 647px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
  }
  .besuche-meine-website-hier {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 46px;
    top: 571px;
    width: 109px;
    height: 48px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1);
  }
  @media only screen and (max-width: 767px) {
  .frame-1 {
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1); /* Entfernen oder anpassen */
  }
  .photo-2025-02-13-20-19-19-1,
  .hi-mein-name-ist-fabian,
  .besuche-meine-website-hier {
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, -1); /* Entfernen oder anpassen */
  }
}
}

