.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #b6d0d4;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.photo-2025-02-13-20-19-19-1 {
  border-radius: 32px;
  width: 566px;
  height: 1006px;
  /*position: absolute;
  left: 1127px;
  top: 68px;
  object-fit: cover;
  aspect-ratio: 566/1006;*/
}
.hi-mein-name-ist-fabian {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 128px;
  top: 125px;
  width: 1154px;
  height: 96px;
}
.besuche-meine-website-hier {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 311px;
  top: 422px;
  width: 394px;
  height: 149px;
}
